<header>
  <span id="logo">Finterest</span>
  <form class="form-inline" action="/search" method="POST">
    <div class="form-group mb-2">
      <input id="search-bar" class="form-inline" type="text" name="Search Resources" placeholder="Search resources..." />
      <button type="submit" class="btn btn-primary">Search</button>
    </div>
  </form>

  <ul class="navbar-nav">
  <% if (!activeUser) { %>
    <li class="nav-item">
      <form method="GET" action="/login">
        <button type="submit" class="btn" id="login">Login</button>
      </form>
    </li>
    <li class="nav-item">
      <form method="GET" action="/register">
        <button type="submit" class="btn" id="register">Register</button>
      </form>
    </li>
    <% } else if (activeUser) { %>
      <li class="nav-item" id="welcome-msg">
        <h6>Welcome <%= activeUser.name %></h6>
      </li>
      <li class="nav-item">
        <form method="GET" action="/newresource">
          <button type="submit" class="btn">New Resource</button>
        </form>
      </li>
      <li class="nav-item">
        <form method="GET" action="/users/:id">
          <button type="submit" class="btn">My Resources</button>
        </form>
      </li>
      <li class="nav-item">
        <form method="POST" action="/logout">
          <button type="submit" class="btn" id="logout">Logout</button>
        </form>
      </li>
      <% } %>
    </ul>
</header>
