

<header>
  <span id="logo">Finterest</span>
    <form class="form-inline" action="/urls" method="POST">
      <div class="form-group mb-2">
        <input
          class="form-inline"
          type="text"
          name="Search Resources"
          placeholder="Search Resources..."
        />
        <button type="submit" class="btn btn-primary">Search</button>
      </div>
    </form>
  <% if (!user) { %>
    <form method="GET" action="/login">
      <button
      type="submit"
      class="btn"
      >Login</button>
    </form>
    <form method="GET" action="/register">
      <button
      type="submit"
      class="btn"
      >Register</button>
    </form>
  <% } else if (user) { %>
      <form method="POST" action="/logout">
        <h6>Welcome <%= user.name %></h6>
        <button
          type="submit"
          class="btn"

        >Logout</button>
    </form>
  <% } %>
</header>
