header {
  background-color: #78846f;
  height: 80px;
  width: 100%;
  display: flex;
  flex-direction: row;
}

#logo {
  color: white;
  font-family: 'Roboto Mono', monospace;
  font-size: xx-large;
  font-weight: 600;
}
