header {
  background-color: #78846f;
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  font-family: 'Roboto', sans-serif;
}

#logo {
  color: white;
  font-family: 'Roboto Mono', monospace;
  font-size: xx-large;
  font-weight: 600;
  margin-left: 1em;
  margin-right: 1em;
}

#search-bar {
  border: 2px solid #454d3f;
  background-color: #ffffff3b;
  border-radius: 5px;
  height: 40px;
  width: 300px;
  padding: 12px 20px;
}

.btn {
  background-color: #ffffff09;
  margin-right: 10px;
  margin-left: 10px;
  border-radius: 10px;
  height: 35px;
  border: 1.5px solid #464646;
  color: #464646;
  padding: 5px 10px;
}

.navbar-nav li {
  display: inline-block;
}

#welcome-msg {
  color: #464646;
}
